name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  style-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: go build -v ./...

    - name: Build Docker Lint
      run: docker build -t lint:${CI_COMMIT_SHA:0:8} -f Dockerfile-lint .

    - name: Run Docker Lint
      run: docker run -i lint:${CI_COMMIT_SHA:0:8} sh -c "cd  /go/src/github.com/bshramin/goxy && golangci-lint run"